

.navbar{
    background-color: rgb(177, 91, 164);
    
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin: 10px;
    color: rgb(21, 18, 18);
}
 .footer{
 background-color: rgb(144, 141, 141);
 width: 100%;
 height: 10%;
position: relative;
 bottom: 0;
 position: fixed;
 text-align: center;
 color: white;
 
  }
 
  .main{
    background-color: rgb(192, 230, 130);
    border-radius: 10px;
    margin: 25px;
    width:420px;
    border: 5px solid black;
    box-shadow:10cm;
}
  .cards{
    display: grid;
    grid-template-columns:auto auto auto ;
    justify-content: space-between;
    padding:6%;
  }
h1{
  text-align: center;
  background-image: linear-gradient(orange,white,green)
}